
body {
margin:0;
padding:0;
background-color:white;
overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: white;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
    /* First image (phone) */
.bgimg-1 {
    display: none;
}
    
    /* Second image (Portfolio) 
.bgimg-2 {
    background-image: url("/w3images/parallax2.jpg");
    min-height: 400px;
    }
    
     Third image (Contact) 
.bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
}
    */
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

    
    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (min-device-width: 768px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
    display: block;
    background-image: url('output.gif');
    width: 100%;
    background-attachment: scroll;
    min-height: 400px;

    }
}

.w3-container {

    box-shadow: 3px 10px 10px 3px rgba(0, 0, 0, 0.2);
}
.wave svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

section{
height:60%;
width:100%;
position: absolute;
}
.face{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.face div{
display:block ;
position: absolute;
}
.face div:nth-child(1){
    left:20%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(2){
    left:40%; 
    animation:fall 25s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(3){
    left:60%; 
    animation:fall 35s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(4){
    left:80%; 
    animation:fall 45s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(5){
    left:10%; 
    animation:fall 5s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(6){
    left:25%; 
    animation:fall 10s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(7){
    left:35%; 
    animation:fall 20s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(8){
    left:65%; 
    animation:fall 30s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(9){
    left:15%; 
    animation:fall 40s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(10){
    left:73%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(11){
    left:23%; 
    animation:fall 5s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(12){
    left:43%; 
    animation:fall 20s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(13){
    left:55%; 
    animation:fall 25s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(14){
    left:8%; 
    animation:fall 20s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(15){
    left:75%; 
    animation:fall 10s linear infinite ;
    animation-delay:-2s;

} 
.face div:nth-child(16){
    left:5%; 
    animation:fall 5s linear infinite ;
    animation-delay:-2s;

} 

@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX (20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{

        transform:translateX (-20px) rotate(90deg);
    }
    60%{
        
       transform:translateX (-20px) rotate(135deg); 
    }
    80%{
    
        transform:translateX (-20px) rotate(180deg);
    }
    100%{
        
        top:110%;
        transform:translateX (-20px) rotate(225deg);
    }
    }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
#about: {
  padding-top: 20%;
} 
